# Application settings
# --------------------------------------------------------------------------------------
APP_HOST=0.0.0.0
APP_PORT=8000

# MongoDB settings
# --------------------------------------------------------------------------------------
MONGODB_DRIVER=mongodb
MONGODB_USERNAME=mongodb
MONGODB_PASSWORD=mongodb
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DATABASE=telegram_bot_db
MONGODB_CACHE_EXPIRATION_TIME_SECONDS=60
MONGODB_CACHE_CAPACITY=100

# Task Queue settings
# --------------------------------------------------------------------------------------
TASK_QUEUE_NUM_WORKERS=1
TASK_QUEUE_QUEUE_MAX_SIZE=0
TASK_QUEUE_MAX_RETRIES=3
TASK_QUEUE_INITIAL_BACKOFF_SECONDS=1
TASK_QUEUE_ASYNC_TASK_TIMEOUT_SECONDS=10
